body {
	margin-top: 80px;
}

.bottom-border {
  border-bottom: thin solid #101010;
}

.error-msg {
  color: red;
  font-size: 10pt;
}

.bottom-right {
  position: absolute;
  right: 25px;
  bottom: 25px;
}